.overlay {
  display: block;
  opacity: 0;
  margin-bottom: 10px;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 50px;
}

.card:hover .overlay {
  opacity: 1;
  margin-left: 2%;
  transition: 0.5s;
}
.overlay .icons {
  background-color: #fff;
  border-radius: 8px;
  height: 30px;
  font-size: 30px;
  padding: 7px;
  width: 35px;
  margin: 5%;
  margin-bottom: 5%;
}

.overlay .btn-light {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
